
a{
    text-transform: capitalize;
    color: #8E8E8E;
}

.links{
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contacts{

    p{
        color: #8E8E8E;
    }
}