.star {
    position: absolute;
    width: 30px;

    &.first {
        top: 10px;
        left: -40px;
    }
    &.second {
        top: 20px;
        right: 120px;
    }
    &.third {
        left: -10px;
        bottom: 20px;
    }
    &.fourth {
        right: 50px;
        bottom: 40px;
    }
}
